<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.PawsomePalsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/dogpawheart"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dogpawheart"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawsomePals"
        tools:targetApi="31">
        <activity
            android:name=".ui.feed.LikeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.NewUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.FollowersFollowingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat.ChatSearchChatroomActivity"
            android:exported="false" />
        <activity
            android:name=".deeplink.DeepLinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pawsomepals"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.profile.DogProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.feed.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ui.profile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.NewDogProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.EditUserProfileActivity"
            android:exported="false" />
        <activity

            android:name=".ui.search.DogDetailActivity"
            android:label="Dog Detail Activity">
        </activity>
        <activity
            android:name=".ui.profile.EditDogUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat.EditChatRoomInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.GoogleLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.chat.CreateNewChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat.CreateNewGroupChat"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.chat.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.feed.CreateEventsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feed.CreatePhotoVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feed.CreatePostActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feed.CreateRecipeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feed.CreateServicesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feed.RecipeDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.chat.FCMNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.goolge.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>